@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-gray-900 text-white overscroll-none;
}

/* Custom scrollbar for desktop */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-emerald-500 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-emerald-600;
  }
}

/* Hide scrollbar for mobile devices */
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}